
div#scene{
	margin:0 auto;
	height: 684px;  
	width: 1140px;
}

/* #commonBG - > Header*/
#commonBG {
	position: absolute;
	height: 46px;  
	width: 1140px;

}


.headerRespText{
	height: 36px;  
	width: 672px;	
	font-size: 24px;
	overflow: visible;
}


#currentStep {
	position: relative;
	height: 636px;  
	width: 1140px;
}

.title_zone1{
	line-height: 1;
	font-size: 32px;
	color: #FFFFFF;
}


.baseRespText {
	/*margin:10px;*/
	font-size: 18px;
	line-height: 1.5;
}
.baseRespText_o {
	/*margin:10px;*/
	font-size: 16px;
	line-height: 1.2;
}



/* Smaller than standard 960 (devices and browsers) 
@media only screen and (max-width: 945px)*/

@media only screen and (orientation: portrait) {
	div#scene{
		margin:0 auto;
		height: 1032px;
		width: 768px;
	}
	
	#commonBG {
		height: 72px;  
		width: 768px;
	}
	
	.headerRespText{
		height: 60px !important;   
		width: 727px !important;	
		font-size: 26px;
	}	
	
	#currentStep { 
		width: 768px;
	}	
	
	.baseRespText {
		font-size: 20px;
	}
	.baseRespText_o {
	font-size: 18px;
	line-height: 1.2;
	}

	.r1_float{
		top: 636px !important;
		left: 19px !important;
	}
	.r2_float{
		top: 636px !important;
		left: 388px !important;
	}

}



.inputDefault2 {
    color: #514E46;
    font-size: 9px;
}

 

#largeText{
width: 75px; /* Ширина блока */
}

a img {
border: none;
}

.lacertaImgButton{
  top: 0px;
  left: 0px
}

.ui-target-active-def{
	border: 1px solid #00ff00;	
}

.ui-target-hover-def{
	border: 1px solid #0000ff;
	margin-left: -1px;
	margin-top: -1px;	
	/*padding-top: 5px;*/
}
/* .ui-state-disabled переопредялет, заданный  в файле jquery-ui-1.8.2.custom.css, одноименный стиль,
   предназначенный для отображения установленных в целевую зону объектов, получивших статус disable */
.ui-state-disabled{
opacity:0.65;
}

.border1, .b1{
	border-style: solid;
	border-width: 1px;
}

.border2, .b2{
	border-style: solid;
	border-width: 2px;
}

.border3, .b3{
	border-style: solid;
	border-width: 3px;
}

.borderRed, .bR{
	border-color:#f00;
}
.borderGreen, .bG{
	border-color:rgb(81, 78, 70);	
}
.borderWhite, .bW{
	border-color:rgb(243, 243, 242);
}
.borderYllow, .bY{
	border-color:rgb(255, 255, 0);
}

.imgHintDefault{
	position:absolute;
	border:1px solid #333;
	background:#f7f5d1;
	padding:2px 5px;
	color:#333;
	z-index:1100;	
	display:none;
}

.htmlHintDefault{
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	position:absolute;
	border:1px solid #333;
	background:#f7f5d1;
	padding: 14px 20px;
	margin: 0px -10px 0px -15px;
	color:#333;
	z-index:1100;
	width: 300px; 	
	display:none;
}

