/* 
 * 
*/
div#transparentBG {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 10%;  
	width: 10%;
	z-index: 1470;
	background-color:#ffccff;
}

#resultViewer {
	/*position: absolute;*/
	position: relative;
	height: 100%;  
	width: 100%;
	z-index: 1500;
background-image: url('skin/result_BG.png');
/*		overflow: scroll;*/
}

#top_block {	/*РАССТОЯНИЕ СВЕРХУ ДО ОБЩЕЙ ТАБЛИЦЫ*/
	margin:0 auto;
	height: 40%; 
	
}
#midle_block {	/*РАССТОЯНИЕ СВЕРХУ ДО ТАБЛИЦЫ СО СЦЕНАМИ*/
	margin:0 auto;
	height: 1%; 
	
}
#bottom_block { /*РАССТОЯНИЕ МЕЖДУ ОБЩ ТАБЛ И ТАБЛ СО СЦЕНАМИ*/
	margin:0 auto;
	height: 10%; 
	
}
/*  ОБЩАЯ ТАБЛИЦА */
#commonResultTable {
	margin:0 auto;
	width: 65%;  /* Ширина таблицы */
	height: 20%;/* Высота таблицы */
	border-spacing: 1px;
	/* border: 1px solid #399; Граница вокруг таблицы */
	/* border-spacing: 7px 5px; Расстояние между границ */
	 /*http://htmlbook.ru/css/height*/
}
/* НАСТРОЙКА ШАПКИ ОБЩЕЙ таблицы */
table#commonResultTable > thead > tr > th {
    background: #fff; /* Цвет фона */
   /* border: 1px solid #333; Граница вокруг ячеек */
    padding: 5px; /* Поля в ячейках */ 
   }
 /* НАСТРОЙКА ОБЩЕЙ таблицы */  
table#commonResultTable > tbody > tr > td {
    background: #fff; /* Цвет фона */
     /* border: 1px solid #333;Граница вокруг ячеек */
    padding: 5px; /* Поля в ячейках */ 
	text-align: center;
}

   
 /*  НАСТРОЙКА ТАБЛИЦЫ СО СЦЕНАМИ */  
#objResultTable {
		position: relative;
	float: left;
	left: 300px;
	margin:0 auto;
	width: 60%; /* Ширина таблицы */
	border-spacing: 1px;	
	 border: 1px solid #399; /*Граница вокруг таблицы */
	/* border-spacing: 7px 5px; Расстояние между границ */
	 /*http://htmlbook.ru/css/height*/
}
/* НАСТРОЙКА ШАПКИ  таблицы СО СЦЕНАМИ*/
table#objResultTable > thead > tr > th {
    background: #ffffff; /* Цвет фона */
    border: 1px solid #333; /*Граница вокруг ячеек */
    padding: 5px; /* Поля в ячейках */ 
   }
/* НАСТРОЙКА ЯЧЕЕК С РЕЗУЛЬТАТАМИ  таблицы СО СЦЕНАМИ*/   
table#objResultTable > tbody > tr > td {
    background: #ffffff; /* Цвет фона */
    border: 1px solid #333; /* Граница вокруг ячеек */
    padding: 5px; /* Поля в ячейках */ 
   }
   
   
   