
/* Smaller than standard 960 (devices and browsers) 
@media only screen and (max-width: 945px)*/

@media only screen and (orientation: portrait) {
	div#scene{
		margin:0 auto;
		/*height: 860px;*/
		/*width: 640px;*/
	}
	
	#commonBG {
		position: absolute;
		height: 0px;
		width: 0px;
	}
	
	.headerRespText{
		/*height: 50px !important;*/ 
		/*width: 605px !important;*/	
		font-size: 15px;
		overflow: visible;
		line-height: 1.0;
	}	
	.baseRespText_o {
		/*margin:10px;*/
		font-size: 20px;
		line-height: 1.2;
	}


	.r1_float{
		top: 515px !important;
		left: 15px !important;
	}
	.r2_float{
		top: 515px !important;
		left: 325px !important;
	}

}
